<nav class="gnb">
    <div class="gnb_main">
        <ul>
            <li>
                <h2>
                    <a href="javascript:void(0);" class="triggerToggle">
                        <img src="img/gnb_icon_01.png" alt="나드리김밥 소개">나드리김밥
                    </a>
                </h2>
            </li>
            <li>
                <a href="menu.html" class="triggerToggle">
                    <h2><img src="img/gnb_icon_02.png" alt="메뉴안내">메뉴안내</h2>
                </a>
            </li>
            <li>
                <a href="store.html" class="triggerToggle">
                    <h2><img src="img/gnb_icon_03.png" alt="매장찾기">매장찾기</h2>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="triggerToggle">
                    <h2><img src="img/gnb_icon_04.png" alt="프랜차이즈">프랜차이즈</h2>
                </a>
            </li>
            <li>
                <a href="news.html" class="triggerToggle">
                    <h2><img src="img/gnb_icon_05.png" alt="커뮤니티">커뮤니티</h2>
                </a>
            </li>
        </ul>
    </div> <!-- gnb_main-->
    <div class="gnb_line"></div>
    <div class="gnb_sub" id="target">
        <div class="gnb_sub_wrap">
            <ul class="gnb_sub_about">
                <li><a href="javascript:void(0);">나드리 소개</a></li>
                <li><a href="javascript:void(0);">CEO인사말</a></li>
                <li><a href="javascript:void(0);">CI/BI 소개</a></li>
                <li><a href="javascript:void(0);">오시는 길</a></li>
            </ul>
            <ul class="gnb_sub_menu" onclick="location.href='menu.html'">
                <li><a href="menu.html">김밥류</a></li>
                <li><a href="menu.html">돈까스</a></li>
                <li><a href="menu.html">식사류</a></li>
                <li><a href="menu.html">면류</a></li>
                <li><a href="menu.html">간식류</a></li>
                <li><a href="menu.html">계절메뉴</a></li>
            </ul>
            <ul class="gnb_sub_location" onclick="location.href='store.html'">
                <li><a href="store.html">매장찾기</a></li>
                <li><a href="javascript:void(0);">매장갤러리</a></li>
            </ul>
            <ul class="gnb_sub_franchise">
                <li><a href="javascript:void(0);">나드리경쟁력</a></li>
                <li><a href="javascript:void(0);">가맹개설절차</a></li>
                <li><a href="javascript:void(0);">창업비용</a></li>
                <li><a href="javascript:void(0);">인테리어컨셉</a></li>
            </ul>
            <ul class="gnb_sub_community" onclick="location.href='news.html'">
                <li><a href="news.html">나들이소식</a></li>
                <li><a href="javascript:void(0);">이벤트</a></li>
                <li><a href="javascript:void(0);">보도및홍보자료</a></li>
                <li><a href="javascript:void(0);">고객센터</a></li>
            </ul>
        </div> <!--gnb_sub_wrap-->
    </div><!--gnb_sub-->
</nav>