<div class="skip_nav skip">
    <a href="javascript:void(0);">나드리김밥 소개</a>
    <a href="menu.html">메뉴 안내</a>
    <a href="store.html">매장 찾기</a>
    <a href="javascript:void(0);">프랜차이즈 안내</a>
    <a href="news.html">커뮤니티</a>
</div>

<header class="header">
    <div class="header_wrap">
        <h1>
            <a href="main.html">
                <img src="img/main_logo.png" alt="나드리 김밥 홈으로 이동하기">
                    <span class="skip">
                        시절공감 1988 나드리 김밥
                    </span>
            </a>
        </h1>
        <nav class="header_nav">
            <a href="main.html">HOME</a>
            <a href="javascript:void(0);">로그인</a>
            <a href="cs.html">고객센터</a>
        </nav>
    </div>
</header>