<div class="skip_nav skip">
    <a href="#">나드리김밥 소개</a>
    <a href="#">메뉴 안내</a>
    <a href="#">매장 찾기</a>
    <a href="#">프랜차이즈 안내</a>
    <a href="#">커뮤니티</a>
</div>

<header class="header">
    <h1>
        <a href="#">
            <img src="img/main_logo.png" alt="나드리 김밥 홈으로 이동하기">
                <span class="skip">
                    시절공감 1988 나드리 김밥
                </span>
        </a>
    </h1>
    <nav class="header_nav">
        <a href="#">HOME</a>
        <a href="#">로그인</a>
        <a href="#">고객센터</a>
    </nav>
</header>

<nav class="gnb">
    <ul>
        <li>
            <h2>
                <a href="">
                    <img src="img/gnb_icon_01.png" alt="나드리김밥 소개">나드리김밥
                </a>
            </h2>
        </li>
        <li>
            <a href="">
                <h2><img src="img/gnb_icon_02.png" alt="매뉴안내">매뉴안내</h2>
            </a>
        </li>
        <li>
            <a href="">
                <h2><img src="img/gnb_icon_03.png" alt="매뉴안내">매장찾기</h2>
            </a>
        </li>
        <li>
            <a href="">
                <h2><img src="img/gnb_icon_04.png" alt="매뉴안내">프랜차이즈</h2>
            </a>
        </li>
        <li>
            <a href="">
                <h2><img src="img/gnb_icon_05.png" alt="매뉴안내">커뮤니티</h2>
            </a>
        </li>
    </ul>
    <div class="gnb_sub">
        <div class="gnb_sub_wrap">
            <ul class="gnb_sub_about">
                <li><a href="#">나드리 소개</a></li>
                <li><a href="#">CEO인사말</a></li>
                <li><a href="#">CI/BI 소개</a></li>
                <li><a href="#">오시는 길</a></li>
            </ul>
            <ul class="gnb_sub_menu">
                <li><a href="#">김밥류</a></li>
                <li><a href="#">돈까스</a></li>
                <li><a href="#">식사류</a></li>
                <li><a href="#">면류</a></li>
                <li><a href="#">간식류</a></li>
                <li><a href="#">계절메뉴</a></li>
            </ul>
            <ul class="gnb_sub_location">
                <li><a href="#">매장찾기</a></li>
                <li><a href="#">매장갤러리</a></li>
            </ul>
            <ul class="gnb_sub_franchise">
                <li><a href="#">나드리경쟁력</a></li>
                <li><a href="#">가맹개설절차</a></li>
                <li><a href="#">창업비용</a></li>
                <li><a href="#">인테리어컨셉</a></li>
            </ul>
            <ul class="gnb_sub_community">
                <li><a href="#">나들이소식</a></li>
                <li><a href="#">이벤트</a></li>
                <li><a href="#">보도및홍보자료</a></li>
                <li><a href="#">고객센터</a></li>
            </ul>
        </div> <!--gnb_sub_wrap-->
    </div><!--gnb_sub-->
</nav>