<nav class="quick">
    <ul class="quick_list">
        <li>
            <a href="#none">
                <ul class="quick_list_event quick_items">
                    <li class="hide_item">이벤트</li>
                    <li><img src="img/snb_event_ico.png" alt="이벤트 소개"></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#none">
                <ul class="quick_list_news quick_items">
                    <li class="hide_item">나들이소식</li>
                    <li><img src="img/snb_news_ico.png" alt="나들이 소식"></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#none">
                <ul class="quick_list_cs quick_items">
                    <li class="hide_item">고객센터</li>
                    <li><img src="img/snb_cs_ico.png" alt="고객센터"></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#none">
                <ul class="quick_list_store quick_items">
                    <li class="hide_item">오시는 길</li>
                    <li><img src="img/snb_location_ico.png" alt="오시는 길 안내"></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#none">
                <ul class="quick_list_franchise quick_items">
                    <li class="hide_item">가맹점 안내</li>
                    <li><img src="img/snb_store_ico.png" alt="가맹점 안내"></li>
                </ul>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="quick_top_btn show_item">
                ▲TOP
            </a>
        </li>
    </ul>
</nav>