<nav class="quick">
    <ul class="quick-list">
        <li class="quick-list-item">
            <a href="javascript:void(0);">
                <div class="quick-item-wrap">
                    <ul class="quick-list-event quick-item">
                        <li class="show-item">이벤트</li>
                        <li><img src="img/snb_event_ico.png" alt="이벤트 소개"></li>
                    </ul>
                </div>
            </a>
        </li>
        <li class="quick-list-item">
            <a href="news.html">
                <div class="quick-item-wrap">
                    <ul class="quick-list-news quick-item">
                        <li class="show-item">나들이소식</li>
                        <li><img src="img/snb_news_ico.png" alt="나들이 소식"></li>
                    </ul>
                </div>
            </a>
        </li>
        <li class="quick-list-item">
            <a href="cs.html">
                <div class="quick-item-wrap">
                    <ul class="quick-list-cs quick-item">
                        <li class="show-item">고객센터</li>
                        <li><img src="img/snb_cs_ico.png" alt="고객센터"></li>
                    </ul>
                </div>
            </a>
        </li>
        <li class="quick-list-item">
            <a href="store.html">
                <div class="quick-item-wrap">
                    <ul class="quick-list-store quick-item">
                        <li class="show-item">오시는 길</li>
                        <li><img src="img/snb_location_ico.png" alt="오시는 길 안내"></li>
                    </ul>
                </div>
            </a>
        </li>
        <li class="quick-list-item">
            <a href="javascript:void(0);">
                <div class="quick-item-wrap">
                    <ul class="quick-list-franchise quick-item">
                        <li class="show-item">가맹점 안내</li>
                        <li><img src="img/snb_store_ico.png" alt="가맹점 안내"></li>
                    </ul>
                </div>
            </a>
        </li>
        <li>
            <a href="#" class="quick-top-btn show-top">
                ▲TOP
            </a>
        </li>
    </ul>
</nav>