@use "variables";
@use "layout";

.content-menu {
  .content-header-menu {
    background: url("../img/menu_header_bg.png") no-repeat center center/cover;
    p {
      span {
        @include mobile {
          display: block;
          line-height: 1.6;
        }
      }
    }
  }

  .section-menu {
    margin-bottom: 25rem;
    @include tablet {
      margin-bottom: 15rem;
    }
    @include mobile {
      margin-top: 10rem;
    }

    .section-header-menu {
      h3 {
        span {
          @include tablet {
            display: block;
          }
        }

        em {
          @include mobile {
            display: block;
          }
        }
      }
    }

    .section-content-slide-menu {
      @include width;
      height: 60rem;
      background: url("../img/menu_contents_bg.png") no-repeat center 45%/contain;
      //overflow: hidden;
      margin-top: 7.2rem;
      @include tablet {
        @include rwd-width;
        height: auto;
        margin-top: 4rem;
        padding-bottom: 5rem;
      }
      @include mobile {
        background: url("../img/menu_contents_bg.png") no-repeat center center/cover;
      }

      .swiper-wrapper {
        margin-top: 3rem;

        .swiper-slide {
          display: inline-block;
          text-align: center;
          transform: translateX(-30%);
          flex: 1 0 auto;
          @include tablet {
            transform: translateX(3%);
          }
          @include mobile {
            transform: translate(1.5%, 3%);
          }

          &.swiper-slide-active {
            flex: 2 0 30%;
            transform: scale(1.3) translate(-12.5%, 7%);
            @include tablet {
              transform: scale(1.3) translate(3%, 5%);
            }
            @include mobile {
              flex: 1 0 auto;
              transform: scale(1.1) translate(3%, 3%);
            }
          }

          img {
            @include tablet {
              width: 100% * $m-size;
            }
          }
        }
      }

      .btn-menu {
        width: 4.7rem;
        text-indent: -9999px;
        @include mobile {
          width: 3rem;
        }
      }

      .prev {
        left: 35%;
        @include tablet {
          left: 5%;
        }
      }

      .next {
        left: 62.5%;
        @include tablet {
          left: auto;
          right: 5%;
        }
      }
    }

    .section-content-list-menu {
      margin-top: 9rem;
      @include tablet {
        margin-top: 3rem;
      }

      ul {
        @include gnb-width;
        display: flex;
        gap: 2%;
        @include tablet {
          flex-wrap: wrap;
          justify-content: center;
          row-gap: 1rem;
        }

        li {
          flex: 1;
          text-align: center;
          @include tablet {
            flex: 0 1 20%;
          }
          @include mobile {
            flex-basis: 40%;
          }

          img {
            width: 100%;
          }

          p {
            font: 1.2rem "Dotum";
            color: $charcoal;
          }
        }
      }
    }
  }
}

// Tablet size

@media (max-width: 1199px) {
  .content-menu {
    .section-menu {

      .menu-contents-list {
        //@include rwd-width;


        ul {
          //@include gnb-width;
          //flex-wrap: wrap;

          li {
            //flex: 0 1 20%;
          }
        }
      }
    }
  }
}

// Mobile size

@media (max-width: 640px) {
  .menu {
    .section-menu {
      .menu-contents-slide {
        //margin-top: 4rem;
        //background: url("../img/menu_contents_bg.png") no-repeat center center/cover;

        .swiper-wrapper {
          .swiper-slide {
            &.swiper-slide-active {
              //flex: 1 0 auto;
              //transform: scale(1.1) translate(3%, 3%);
            }
          }
        }

        .btn-menu {
          //width: 3rem;
        }
      }

      .menu-contents-list {
        ul {
          li {
            //flex: 0 1 40%;
          }
        }
      }
    }
  }
}