@use "variables";
@use "layout";


.quick {

  position: fixed;
  right: 3rem;
  top: 65%;
  z-index: $gnb_z_index - 1;


  .quick_list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li {
      .quick_items {
        display: flex;
        li {
          text-align: center;
          line-height: 5rem!important;
          margin-bottom: 0.5rem;
          font: 1.6rem "BMYEONSUNG";
          color: $white;
          overflow: hidden;
          &:first-of-type {
            font-size: 0;
            width: 0;
            height: auto;
            margin-right: 0.8rem;
            overflow: hidden;
            transition: width 0.3s cubic-bezier(.51,0,.53,1);
            position: absolute;
            right:5rem;
      }
          &:last-of-type {
            width: 5rem;
            height: 5rem;
            border-radius: $border-radius;
            img {
              width: 2.9rem;
              line-height: 5rem;
              height: auto;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.quick_list_event {
  li:first-of-type {
    color: $brown!important;
    background: url("../img/snb_event_bg.png") no-repeat center center/contain;
  }
  li:last-of-type {
    background-color: $white;
  }
}
.quick_list_news {
  li:first-of-type {
      background: url("../img/snb_news_bg.png") no-repeat center center/contain;
  }
  li:last-of-type {
    background-color: $beige;
  }
}
.quick_list_cs {
  li:first-of-type {
      background: url("../img/snb_cs_bg.png") no-repeat center center/contain;
  }
  li:last-of-type {
    background-color: $brown;
  }
}
.quick_list_store {
  li:first-of-type {
    background: url("../img/snb_location_bg.png") no-repeat center center/contain;
  }
  li:last-of-type {
    background-color: $yellow;
  }
}
.quick_list_franchise {
  li:first-of-type {
    background: url("../img/snb_store_bg.png") no-repeat center center/contain;
  }
  li:last-of-type {
    background-color: $orange;
  }
}

.quick_top_btn {
  display: block;
  text-align: center;
  width:5rem;
  font-size: 0;
  font-family: "Lato";
  color: $charcoal;
  height:0;
  overflow: hidden;
  transition: height 0.5s ease-out;

}

//퀵 메뉴 활성화
.quick_btn_info {
  width: 13rem!important;
  font-size: 1.6rem!important;
  // display: inline-block;
}

//탑 버튼 활성화
.show_top_btn {
  height: auto;
  font-size: 1.2rem;
}

@media (max-width: 1199px) {
 .quick {
   display: none;
 }
}

//@media (max-width: 640px) {
//
//}