@import "_reset";
@import "variables";
@import "layout";
@import "_swiper-bundle";
@font-face {
  font-family: 'BMYEONSUNG';
  font-weight: 400;
  src: local('BMYEONSUNG'),
  url('fonts/BMYEONSUNG.woff2') format('woff2'),
  url('fonts/BMYEONSUNG.woff') format('woff'),
  url('fonts/BMYEONSUNG.ttf') format('truetype'),
  url('fonts/BMYEONSUNG.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 400;
  src: local('NanumMyeongjo'),
  url('fonts/NanumMyeongjo.woff2') format('woff2'),
  url('fonts/NanumMyeongjo.woff') format('woff'),
  url('fonts/NanumMyeongjo.ttf') format('truetype'),
  url('fonts/NanumMyeongjo.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 700;
  src: local('NanumMyeongjoBold'),
  url('fonts/NanumMyeongjoBold.woff2') format('woff2'),
  url('fonts/NanumMyeongjoBold.woff') format('woff'),
  url('fonts/NanumMyeongjoBold.ttf') format('truetype'),
  url('fonts/NanumMyeongjoBold.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'NanumMyeongjo';
  font-weight: 900;
  src: local('NanumMyeongjoExtraBold'),
  url('fonts/NanumMyeongjoExtraBold.woff2') format('woff2'),
  url('fonts/NanumMyeongjoExtraBold.woff') format('woff'),
  url('fonts/NanumMyeongjoExtraBold.ttf') format('truetype'),
  url('fonts/NanumMyeongjoExtraBold.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: local('NanumSquareR'),
  url('fonts/NanumSquareR.woff2') format('woff2'),
  url('fonts/NanumSquareR.woff') format('woff'),
  url('fonts/NanumSquareR.ttf') format('truetype'),
  url('fonts/NanumSquareR.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: local('NanumSquareB'),
  url('fonts/NanumSquareB.woff2') format('woff2'),
  url('fonts/NanumSquareB.woff') format('woff'),
  url('fonts/NanumSquareB.ttf') format('truetype'),
  url('fonts/NanumSquareB.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato-Bold'),
  url('fonts/Lato-Bold.woff2') format('woff2'),
  url('fonts/Lato-Bold.woff') format('woff'),
  url('fonts/Lato-Bold.ttf') format('truetype'),
  url('fonts/Lato-Bold.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato-Regular'),
  url('fonts/Lato-Regular.woff2') format('woff2'),
  url('fonts/Lato-Regular.woff') format('woff'),
  url('fonts/Lato-Regular.ttf') format('truetype'),
  url('fonts/Lato-Regular.eot') format('embedded-opentype');
}

@import "header";
@import "gnb";
@import "common";
@import "quick";
@import "main";
@import "menu";
@import "news";
@import "cs";
@import "store";
@import "footer";


