@charset "UTF-8";
@font-face {
    font-family: 'NanumSquare';
    /* option :
       auto: 브라우저 기본 동작
       block: FOIT 방식, 로딩까지 텍스트를 보여주지 않음
       swap : FOUT 기본폰트로 노출 후 무한정 응답대기
       fallback 100ms 동안 block 후 기본폰트 노출, 응답 올 경우 해당 폰트로 swap
       optional: 100ms block 후 기본폰트 노출, 그 후 대체 하지 않음 */
    /*font-display: auto; 생략가능 */
    font-weight: 400;
    src: local('NanumSquare'), /* 설치된 폰트 먼저 확인*/
    url('font/NanumSquareR.woff2') format('woff2'),
    url('font/NanumSquareR.woff') format('woff'),
    url('font/NanumSquareR.ttf') format('truetype'),
    url('font/NanumSquareR.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: local('NanumSquareB'),
    url('font/NanumSquareB.woff2') format('woff2'),
    url('font/NanumSquareB.woff') format('woff'),
    url('font/NanumSquareB.ttf') format('truetype'),
    url('font/NanumSquareB.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 900;
    src: local('NanumSquareEB'),
    url('font/NanumSquareEB.woff2') format('woff2'),
    url('font/NanumSquareEB.woff') format('woff'),
    url('font/NanumSquareEB.ttf') format('truetype'),
    url('font/NanumSquareEB.eot') format('embedded-opentype');
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'NanumSquare', sans-serif;
}

em {
    font-style: normal;
}

.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f0f0f0;
}

.content {
    width: 630px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 52px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #ccc;
}


.logo {
    margin: 55px auto 0;
    width: 58px;
}

.logo img {
    width: 100%;
}

.txt1 {
    width: 100%;
    margin-top: 35px;
}

.txt1 h1 {
    /*font: 3.2rem 'NanumSquareB', 'Gothic';*/
    font: 700 3.2rem 'NanumSquare', 'Gothic';
}

.txt1 h1 em {
    color: #009643;

}

.txt1 p {
    /*font: 1.8rem 'NanumSquareB', 'Gothic';*/
    font: 700 1.8rem 'NanumSquare', 'Gothic';
    margin-top: 22px;
}

.gaugebar {
    width: 84.44%;
    height: 14px;
    margin: 43px auto 0;
    display: flex;
}

.gaugebar .gb-area {
    width: 94%;
    height: 100%;
    border-radius: 7px;
    background: #f0f0f0;
}

.gaugebar .gauge {
    width: 70%;
    height: 100%;
    border-radius: 7px;
    background: #09ce58;
    animation: ani1 10s ease-in-out infinite;
}

p.gauge-persent {
    font-size: 1.2rem;
    color: #010101;
    line-height: 1.25;
    margin-left: 1.4%;
}

.timer {
    width: 100%;
    margin-top: 31px;
    line-height: 1.19;
}

.timer span {
    color: #666;
    font-size: 1.6rem;
}

.timer p {
    margin-top: 8px;
    font-size: 3.0rem;
    line-height: 0.63;
    color: #009643;
}

.timer p em {
    /*font-family: 'NanumSquareEB', sans-serif;*/
    font-weight:900;
}

.wait-counter {
    width: 47.6%;
    margin: 17px auto 0;
    height: 34px;
    font-size: 1.6rem;
    background-color: #f0f0f0;
    border-radius: 14px;
    line-height: 34px;
    color: #666;
}

.wait-counter em {
    color: #009643;
    font-weight: 600;
}

.alert {
    color: #666;
    margin-top: 11px;
    font-size: 1.2rem;
}

.m-version {
    display: none;
}


@media (max-width: 640px) {

    body {
        min-width: 360px;
    }

    .wrap {
        padding: 0;
        background-color: #fff;
    }

    .content {
        width: 100%;
        margin: 12% 0 0;
        position: unset;
        top: 0;
        left: 0;
        transform: unset;
        border: none;
        background-color: #fff;
        box-shadow: none;
    }

    .logo {
        display: inline-block;
        width: 16.1%;
        margin-top: 0;
    }

    .txt1 {
        width: calc(100% - 25%);
        margin: 10% auto 0;
    }

    .txt1 h1 {
        font-size: 5rem;
        font-weight: 600;
        line-height: 1.3;
    }

    .m-version {
        display: block;
    }

    .txt1 p {
        margin-top: 6%;
        font-size: 2.5rem;
        font-weight: 600;
    }

    .gaugebar {
        width: calc(100% - 25%);
        height: 2.4rem;
        margin: 10% auto 0;
    }

    .gaugebar .gb-area {
        width: 94%;
        height: 100%;
        border-radius: 1.2rem;
    }

    .gaugebar .gauge {
        width: 70%;
        height: 100%;
        border-radius: 1.2rem;
    }

    p.gauge-persent {
        font-size: 2.4rem;
        line-height: 1;
    }

    .timer {
        width: calc(100% - 25%);
        margin: 6% auto 0;
    }

    .timer span {
        font-size: 2.5rem;
    }

    .timer p {
        margin-top: 4%;
        font-size: 5rem;
    }

    .wait-counter {
        width: calc(100% - 25%);
        margin: 6% auto 0;
        height: auto;
        font-size: 2.5rem;
        padding: 0.5rem 0;
        border-radius: 1.125em;
        line-height: 1.625em;
    }

    .alert {
        width: 100%;
        margin: 4% auto 0;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .alert em {
        display: block;
    }
}


@media (max-width: 520px) {
    html {
        font-size: 56.3%;
    }
}

@media (max-width: 470px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 43.8%;
    }
}

@media (max-width: 370px) {
    html {
        font-size: 37.5%;
    }
}

@keyframes ani1 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}